@import "tailwindcss";

/* html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
} */

@custom-variant 3xl (@media (width >= 1536px));
@custom-variant 4xl (@media (width >= 1800px));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (max-width: 1023px) {
  #about,
  #events,
  #getreport,
  #headingandvideo,
  #hero-section,
  #image-carousel,
  #logo-marquee,
  #video-showcase {
    scroll-margin-top: 250px;
  }
}
@media (min-width: 1024px) {
  #about,
  #events,
  #getreport,
  #headingandvideo,
  #hero-section,
  #image-carousel,
  #logo-marquee,
  #video-showcase {
    scroll-margin-top: 90px;
  }
}

.no-js .nav-fade-target {
  opacity: 1 !important;
}